<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/style.css" media="screen"/>
  <title>Hogwarts</title>
</head>
<body>
  <nav>
     <ul>
       <li>
        <a href='/hogwarts'>Home</a>
       </li>
       <li>
         <a href='/houses'>Houses</a>
       </li>
       <li>
         <a href='/students'>Students</a>
       </li>
       <li>
         <a href='/students/new'>Add a New Student</a>
       </li>
     </ul>
   </nav>
   </br>
   </br>
   </br>
   </br>
   </br>
   <%= yield %>

</body>
</html>