<form method="post" action="/students">
  <label for="first-name">First Name:</label>
  <input id="first-name" type="text" name="first_name" />
  <br/>
  <label for="last-name">Last Name:</label>
  <input id="last-name" type="text" name="last_name" />
  <br/>
  <label for="house-select">Select a house:</label>
  <select id="house-select" name="house_id">
    <option value="1">Gryffindor</option>
    <option value="2">Hufflepuff</option>
    <option value="3">Ravenclaw</option>
    <option value="4">Slytherin</option>
  </select>
  <br/>
  <label for="age">Age:</label>
  <input id="age" type="number" name="age"/>
  <br/>
  <input type="submit" value="Add New Student"/>
</form>